<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="UchPractics.Properties.Settings.StudentsBDConnectionString" connectionString="Data Source=DESKTOP-IJHI4LO\SQLEXPRESS;Initial Catalog=StudentsBD;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="StudentsBDEntities" connectionString="metadata=res://*/UchPracticModel.csdl|res://*/UchPracticModel.ssdl|res://*/UchPracticModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IJHI4LO\SQLEXPRESS;initial catalog=StudentsBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>